<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default2.aspx.vb" Inherits="_Default2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, chrome=1"/>
    <title>eAsset System</title>
</head>
<frameset cols="1%,*,1%" framespacing="0px" border="0">
    <frame name="frame3" frameborder="0"  noresize>
    <frameset rows="80,*" framespacing="0px" border="0">
       <frame name="Image" src="frmeAsset.aspx" frameborder="0" scrolling="no" noresize>
        <frameset cols="170,*" framespacing="0px" border="0">
            <frame name="Menu" src="Menu2.aspx" frameborder="0"  scrolling="no" noresize>
            <frame name="ListHome" src="frmLogin2.aspx" frameborder="0" scrolling="yes" noresize>
   </frameset>
    </frameset>
    <frame name="frame4" frameborder="0"  noresize>
</frameset>
</html>