<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frmUserManual.aspx.vb" Inherits="frmUserManual" ValidateRequest="false" EnableSessionState="ReadOnly" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>File</title>
   <%-- <script type="text/javascript">
        function ReadOnly()
        {
         alert("Read Only");
        }
        
         onmousedown="ReadOnly()"
     </script>--%>
</head>
<body>
    <form id="frmUserManual" runat="server">
    <div>
        <asp:Label ID="lblMsg" runat="server" Font-Names="Verdana" Font-Size="Small" ForeColor="Red"></asp:Label></div>
    </form>
</body>
</html>
