<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ListHome.aspx.vb" Inherits="ListHome" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>List Home</title>
     <script type="text/javascript">
//    <script language="javascript">
        function RefreshParent()
        {
            window.parent.location.href = window.parent.location.href;
        }
    </script>
</head>
<body >
    <form id="frmListHome" runat="server">
    <div>
        <asp:Label ID="lblMsg" runat="server" Font-Names="Verdana" Font-Size="Small" ForeColor="Red"></asp:Label><br />
        <asp:HiddenField ID="hdfCurrentDateTime" runat="server" />
        &nbsp;</div>
    </form>
</body>
</html>
